Print the following pattern for a given n.

For eg. N = 6
123456
  23456
    3456
      456
        56
          6
        56
      456
    3456
  23456
123456
Sample Input 1 :
4
Sample Output 1 :
1234
  234
    34
      4
    34
  234
1234

In [4]:
from math import *
from collections import *
from sys import *
from os import *

## Read input as specified in the question.
## Print output as specified in the question.
n = int(input())

#upper pattern
for i in range(n):
    
    #spaces
    for spaces in range(i):
        print(' ',end='')

    #nums
    for num in range(i+1,n+1):
        print(num,end='')

    print()


#lower pattern
for i in range(n-1):

    #spaces
    for spaces in range(n-i-2):
        print(' ',end='')

    #num
    for num in range(n-i-1,n+1):
        print(num,end='')

    print()

 5

12345
 2345
  345
   45
    5
   45
  345
 2345
12345

Problem statement
Print the following pattern for the given number of rows.

Pattern for N = 4
4444444
4333334
4322234
4321234
4322234
4333334  
4444444
Input format : N (Total no. of rows)

Output format : Pattern in N lines

In [122]:
n = int(input())

#upper half
for i in range(n):
    num = n - i

    #left
    for j in range(i+1):
        print(n-j,end='')

    for j in range(n-i-1):
        print(num,end='')
    
    #right

    #spaces
    for j in range(1,n-i):
        print(num,end='')

    
    #nums
    for j in range(n-i,n):
        print(j+1,end='')

    
    print()



#lower half
for i in range(n-1):
    num = i + 2

    #left
    for j in range(n-i-1):
        print(n-j,end='')

    for j in range(n-i-1,n):
        print(num,end='')
    
    #right

    #spaces
    for j in range(i):
        print(num,end='')

    
    #nums
    for j in range(num,n+1):
        print(j,end='')

    
    print()

 4

4444444
4333334
4322234
4321234
4322234
4333334
4444444

Problem statement
Print the following pattern for the given number of rows.

Pattern for N = 5
 1    2   3    4   5
 11   12  13   14  15
 21   22  23   24  25
 16   17  18   19  20
 6    7    8   9   10
Input format : N (Total no. of rows)

Output format : Pattern in N lines

In [142]:
n = int(input())

#upper
for i in range(0,n,2):
    for j in range(1, n+1):
        print( (n * i) + j, end=' ')

    print()

#lower
start = n-1 if n%2 == 0 else n-2
for i in range(start,0,-2):
    for j in range(1, n+1):
        print( (n * i) + j, end=' ')

    print()

 4

1 2 3 4
9 10 11 12
13 14 15 16
5 6 7 8